<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_vehiclecompat>
            <license>
                <license_key></license_key>
                <production_environment>1</production_environment>
            </license>
            <general>
                <enabled>1</enabled>
                <earliest_year>1990</earliest_year>
                <show_year_field>1</show_year_field>
                <label_make>Make</label_make>
                <label_model>Model</label_model>
                <label_year>Year</label_year>
                <label_part>Parts Required</label_part>
            </general>
        </etechflow_vehiclecompat>
    </default>
</config>
